@font-face {
    font-family: "Southbank Regular";
    src: local("Southbank Regular"), url("/static/fonts/Southbank-Regular.ttf"),
        format("ttf");
}

@font-face {
    font-family: "Greca Regular";
    src: local("Greca Regular"), url("/static/fonts/Greca-Regular.ttf"),
        format("ttf");
}

@font-face {
    font-family: "Ustroke";
    src: local("Ustroke"), url("/static/fonts/ustroke.ttf"), format("ttf");
}
